@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url("../resources/fondo_login.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card-header{
background-color:rgba(255, 255, 255, 0.5) !important;
}

.card{
    border:0!important;
    height: 300px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    


.input-group-prepend span{
width: 50px;
background-color: rgb(200, 3, 21);
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.btn_iniciar{
color: white;
background-color:  rgb(200, 3, 21)!important;
border-color:rgb(200, 3, 21)!important ;
width: 100px;
}

.btn_iniciar:hover{
color:  white;
background-color: rgb(211, 43, 43)!important;
border-color: rgb(211, 43, 43)!important;
}

.mensaje{
    color:black;
    font-weight: 200;
}